<header>
    <div class="container-nav">
        <nav>
            <a [routerLink]="['/']"><img class="logo" src="/assets/logo4t.png" alt="Nogueira Logo"></a>
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="https://github.com/William-Nogueira/vida-livre/"
                        target="_blank">SOBRE O PROJETO<span class="material-symbols-outlined nav-out">
                            open_in_new
                        </span></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/william-nogueira-dev/"
                        target="_blank">CONTATO<span class="material-symbols-outlined nav-out">
                            open_in_new
                        </span></a></li>
            </ul>
        </nav>
    </div>
</header>