<header>
    <div class="container-nav">
        <nav>
            <a [routerLink]="['/']"><img class="logo" src="/assets/logo.png" alt="VidaLivre Logo"></a>
            <ul class="nav-list" [class.active]="navMenuActive">
                <li class="nav-item">
                    <a class="nav-link" (click)="closeNavMenu()" href="https://github.com/William-Nogueira/vida-livre/"
                        target="_blank">
                        SOBRE O PROJETO
                        <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 3L15 3M21 3L12 12M21 3V9" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11"
                                stroke="currentColor" stroke-linecap="round" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="closeNavMenu()"
                        href="https://www.linkedin.com/in/william-nogueira-dev/" target="_blank">
                        CONTATO
                        <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 3L15 3M21 3L12 12M21 3V9" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11"
                                stroke="currentColor" stroke-linecap="round" />
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="hamburger" [class.active]="hamburgerActive" (click)="toggleHamburger()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>