section {
  background-image: url(/assets/background.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  max-width: 55%;
  margin: auto;
}

.main-text {
  text-align: center;
  padding-top: 170px;
}

.main-text h1 {
  font-size: 67px;
  color: #232115;
  margin-bottom: 35px;
  line-height: 77px;
}

.main-text p {
  font-size: 21px;
  color: #232115a8;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 20px;
  margin: auto;
}

#focus {
  padding-bottom: 55px;
  max-width: 92%;
}

@media (max-width: 1100px) {
  .hero-container {
    max-width: 70%;
  }
}

@media (max-width: 750px) {
  .hero-container {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  .main-text h1 {
    font-size: 45px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 24px;
  }

  .hero-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .main-text p {
    font-size: 18px;
    line-height: 28px;
  }
  .main-text {
    padding-top: 120px;
  }
}

@media (max-width: 390px) {
  .main-text h1 {
    font-size: 38px;
    line-height: 52px;
  }

  .main-text p {
    font-size: 16px;
    line-height: 24px;
  }
  #pais {
    font-size: 13px;
  }
}

@media (max-width: 330px) {
  .main-text h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .main-text p {
    font-size: 16px;
    line-height: 24px;
  }
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

input[type="text"] {
  font-size: 14px;
  border: solid 1px #178366;
  padding: 12px;
  border-radius: 6px;
  margin-right: 4px;
  display: inline-block;
  width: 55%;
}

input[type="text"]:focus {
  outline: 0.5px solid #147c60;
}

button.primary {
  font-size: 14px;
  padding: 13px;
  border: none;
  background: #147c60;
  color: white;
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
}

button.primary:hover {
  background: rgb(21, 145, 112);
  transition: 0.2s;
}

@media (max-width: 500px) {
  #focus {
    padding-bottom: 45px;
  }
}
