<section>
    <div class="hero-container">
        <div class="main-text">
            <h1>Desbrave Novos Horizontes com o Nomadismo Digital</h1>
            <p>Trabalhe, Explore, Viva - Descubra a liberdade de trabalhar remotamente enquanto viaja pelo mundo.</p>
            <p class="padding-bottom">Aqui você pode encontrar informações sobre diferentes destinos e vistos.
                Recolhemos informações sobre
                todos os países que lhe permitem viajar e permanecer por um longo período.</p>
            <input type="text" placeholder="Buscar país" #filter (keyup)="filterResults(filter.value)">
            <button class="primary" type="button" (click)="filterResults(filter.value)">Buscar</button>
        </div>
    </div>
</section>