<article class="container">
    <a class="arrow" (click)="back()"><img class="arrow" src="/assets/go-back-arrow.svg" alt="Voltar"></a>
    <section>
        <div>
            <h2 class="pais">{{ Pais?.pais }}</h2>
            <p class="regiao">{{ Pais?.regiao }}</p>
            <p class="descricao">{{ Pais?.descricao }}</p>
        </div>
        <div class="info-container">
            <div class="info">
                <h3 class="info-header">Estadia Sem Visto</h3>
                <p class="info-detalhes">{{ Pais?.tempovisa }}</p>
            </div>
            <div class="info">
                <h3 class="info-header">Clima</h3>
                <p class="info-detalhes">{{ Pais?.temperatura }}</p>
            </div>
            <div class="info">
                <h3 class="info-header">Wi-Fi</h3>
                <p class="info-detalhes">{{ Pais?.internet }}</p>
            </div>
            <div class="info">
                <h3 class="info-header">Cidade Recomendada</h3>
                <p class="info-detalhes">{{ Pais?.cidade }}</p>
            </div>
            <div class="info">
                <h3 class="info-header">Custo de Vida</h3>
                <p class="info-detalhes">{{ Pais?.custodevida }}</p>
            </div>
            <div class="info">
                <h3 class="info-header">Idioma</h3>
                <p class="info-detalhes">{{ Pais?.lingua }}</p>
            </div>
        </div>
    </section>
    <figure class="placeholder">
        <img class="foto" [src]="Pais?.fotofull" alt="{{ Pais?.cidade }}" />
        <figcaption>{{ Pais?.cidade }}</figcaption>
    </figure>
</article>